<article>
  <header>
    <h1><%= @post.title %></h1>
    <time>Posted on <%= @post.posted_on.to_s %></time>
  </header>
  <main>
    <p><%= @post.body %></p>
  </main>
  <section id="comments">
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <p><%= comment.body %></p>
          <time><%= comment.posted_on %></time>
          <form class="delete-comment" action="/comments/<%= comment.id %>/delete" method="post">
            <input type="hidden" name="post_id" value="<%= @post.id %>">
            <input type="submit" value="Delete">
          </form>
        </li>
      <% end %>
    </ul>
    <form class="new-comment" action="/comments" method="post">
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <textarea name="body" rows="8" cols="80" placeholder="New Comment..."></textarea>
      <input type="submit" value="Post Comment">
    </form>
  </section>
</article>
